.page-header {
    padding: 10px 0;
    background-color: $headerBgColor;
    color: $headerFontColor;
    box-shadow: $shadow;
}

@media #{$desktop} {
    .page-header {
        display: none !important;  
    }
}

.fixed-to-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 33;
}
