.blog {
    & .header {
        margin-bottom: 70px;
    }
}

.header {
    padding: 25px 0 10px;
    background: $themeColorTwo;
    color: $headerFontColor;
    box-shadow: $shadow;
    margin-bottom: 40px;

    &__container {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;

        #menu-language-switcher {
            height: 45px;
            background: $social_bg_color;

            & .menu-item {
                &:hover,&:focus {
                    background: lighten($social_bg_color, 8%);
                }
            }
        }
    }
}

@media #{$desktop} {
    .header {
        display: none;
    }
}
