.front-news {
    &-box {
        @include smooth_animation;
        position: relative;
        border-top: 3px solid $ligth_border_color;
    
        &:hover {
            box-shadow: none;
        }
    }

    &-meta {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;
    }

    &-datetime {
        color: $primary_color_two;
        font-size: 16px;
    }

    &-headline {
        margin-bottom: 10px;

        & a {
            font-size: 26px;
            color: $themeColorOne;
            font-weight: 500;
            &:hover, &:focus {
                color: $themeColorThree;
            }
        }
    }

    &-preview {

        a {
            display: block;

            & img {
                width: 100%;
                max-width: 100%;
                margin: 0 auto;
            }
        }
    }

    &-thumbnail {
        display: block;
        margin-bottom: 0;
    }

    &-excerpt {
        margin-bottom: 10px;

        &,
        p {
            text-align: justify;
            font-size: 16px;
            line-height: 1.5;
            color: $bodyFontColor;
        }
    }
}
