.front-news {
    &-box {
        @include smooth_animation;
        position: relative;
    
        &:hover {
            box-shadow: none;
        }
    }

    &-inner {
        background: transparent;
        padding: 15px;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        z-index: 1;
    }

    &-item {
        margin-bottom: 20px;
    }

    &-headline {
        margin-bottom: 10px;

        & a {
            font-size: 26px;
            color: $primary_color_two;
            font-weight: 500;
            &:hover, &:focus {
                color: $themeColorThree;
            }
        }
    }

    &-preview {

        a {
            display: block;

            & img {
                width: 100%;
                max-width: 100%;
                margin: 0 auto;
            }
        }
    }

    &-thumbnail {
        display: block;
        margin-bottom: 0;
    }

    &-excerpt {
        margin-bottom: 10px;

        &,
        p {
            text-align: justify;
            font-size: 16px;
            line-height: 1.5;
            color: $bodyFontColor;
        }
    }
}
