.main-post {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  max-width: 650px;

  &__item {
    padding: 0 5px;
  }

  &__column {
    width: 100%;
    margin-bottom: 15px;
  }

  &__row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &__container {
    margin-bottom: 15px;
    width: 100%;
  }

  & .front-news-box {
    position: relative;
  }

  & .front-news-inner {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 20px 20px;
    z-index: 1;

    &:before {
      content: '';
      background: $post_gradient_bg;
      width: 100%;
      height: calc(100% + 25px);
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
    }
  }

  & .front-news-headline {
    a {
      color: $primary_color_two;

      &:hover, &:focus {
        color: $themeColorTwo;
      }
    }
  }

  & .front-news-box {
    &:hover {
      & .front-news-preview {
        & a {
          & img {
            transform: scale(1.15);
            transition: all 0.2s ease-out;
          }
        }
      }
    }
  }

  & .front-news-box {
    & .front-news-preview {
      & a {
        & img {
          transform: none;
          transition: all 0.2s ease-out;
        }
      }
    }

  }
}

@media screen and (min-width: 992px) {
  .main-post {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    margin: 0 -4px;
    width: auto;
    max-width: none;

    &__item {
      padding: 0 4px;
    }

    &__column {
      width: 50%;
      margin-bottom: 0;


      & .front-news-box {
        & .front-news-preview {
          & a {
            padding-bottom: 79.2393027%;
            position: relative;
            width: 100%;
            overflow: hidden;

            & img {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              width: 100%;
              max-width: 100%;
              height: 100%;
              max-height: 100%;
              margin: auto;
              object-fit: cover;
            }
          }
        }
      }

    }

    &__row {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: space-between;
    }

    &__container {
      margin-bottom: 0;
      width: 50%;

      &:first-child {
        width: 100%;
        padding-bottom: 8px;

        & .front-news-box {
          & .front-news-preview {
            & a {
              padding-bottom: calc(39.8089172% - 4px);
              position: relative;
              width: 100%;
              overflow: hidden;

              & img {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                max-width: 100%;
                height: 100%;
                max-height: 100%;
                margin: auto;
                object-fit: cover;
              }
            }
          }
        }
      }

      &:nth-child(2), &:nth-child(3) {
        & .front-news-box {
          & .front-news-preview {
            & a {
              padding-bottom: calc(80.6451613% - 10px);
              position: relative;
              width: 100%;
              overflow: hidden;

              & img {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                max-width: 100%;
                height: 100%;
                max-height: 100%;
                margin: auto;
                object-fit: cover;
              }
            }
          }
        }
      }

      & .front-news-headline {
        & a {
          font-size: 20px;
        }
      }

      & .front-news-box {
        & .front-news-inner {
          padding-bottom: 10px;
        }
      }

    }

    & .front-news-box {
      position: relative;
    }

    & .front-news-inner {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 0 20px 20px;
      z-index: 1;
    }

    & .front-news-headline {
      a {
        color: $primary_color_two;

        &:hover, &:focus {
          color: $themeColorTwo;
        }
      }
    }
  }
}

.post-headers {
  margin-bottom: 5px;

  & a {
    font-size: 26px;
    line-height: normal;
    font-weight: 500;
    color: $themeColorOne;

    &:hover, &:focus {
      color: $themeColorTwo;
    }
  }
}

.post-description {
  & p {
    color: #868691;
    font-size: 20px;
  }
}

.post-caption {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  &__date {
    color: #bebfcb;
    font-size: 16px;
  }

  &__item {
    & a {
      display: inline-block;
      padding: 3px 8px;
      color: $primary_color_two;
      background: $themeColorTwo;
      font-size: 16px;
      line-height: normal;

      &:hover, &:focus {
        color: $primary_color_two;
        background: $themeColorTwo;
        text-decoration: none;
      }
    }
  }
}


.news-title {
  background: $primary_color_two;
  color: $themeColorOne;
  margin: 20px 0 35px;
  font-weight: normal !important;
  display: inline-block;
  position: relative;
  z-index: 1;
  padding-left: 15px;
  padding-right: 15px;
}

.title-wrapper {
  text-align: center;
  position: relative;

  &:before {
    content: '';
    background: $light_bg_color;
    height: 1px;
    width: 100%;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    z-index: 1;
  }
}

@media screen and (min-width: 992px) {
  .title-wrapper {
    text-align: left;
  }

  .news-title {
    padding-right: 30px;
    padding-left: 0;
  }
}

.js-ajax-posts {
  & article {
    & img {
      border-top: 3px solid $light_border_color;
    }
  }
}

.bw-banner {
  width: 100%;
  height: auto;
  padding: 20px 0;

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__image {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 992px) {
  .bw-banner {
    padding: 3.5% 0;
  }
}

#mobile-nav {
  position: static;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  transform: none;
  z-index: auto;
  display: block;
  width: auto;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 15px;

  & .menu-container {
    padding: 10px;
    background: $light_bg_color;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    & .menu-link {
      color: $themeColorOne;
      background: transparent;
      font-size: 13px;
      font-weight: 500;
      display: inline-block;
      width: 100%;
      padding: 5px 0;

      &:hover, &:focus {
        background: transparent;
        color: $themeColorTwo;
      }
    }

    & .sub-menu-link {
      color: $themeColorOne;
      background: transparent;
      font-size: 13px;
      font-weight: 500;
      display: inline-block;
      width: 100%;
      padding: 5px 0;

      &:hover, &:focus {
        background: transparent;
        color: $themeColorTwo;
      }
    }


    & .menu-item {
      background: transparent;
      width: 100%;
      text-align: center;
      padding-left: 26px;
      padding-right: 26px;

      &-has-children-arrow {
        padding: 3px;
        &:before {
          border-right: 1px solid $themeColorOne;
          border-bottom: 1px solid $themeColorOne;
          display: block;
          width: 8px;
          height: 8px;
          padding: 5px;
        }
      }

      &:hover, &:focus {
        background: transparent;

        & .menu-link {
          color: $themeColorTwo;
        }
      }
    }

  }
}
